<ion-view view-title="People">
  <ion-content class="padding">
    <div class="list card" ng-controller="PersonCtrl" ng-repeat="person in people">
      <div class="item item-divider">{{person.name}}</div>
      <div class="item item-body">
        <div>
          {{person.identifier}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

