<ion-view view-title="Articles">
  <ion-content class="padding">
    <div class="list card" ng-controller="ArticlesCtrl" ng-repeat="article in articles">
      <div class="item item-divider">{{articles}}</div>
      <div class="item item-body">
        <div>
          {{article}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
